# dito mo ilagay lahat ng di naman kailangang ipush gaya sa ilalim


# CSS FOLDER
/css

#/IMG FOLDERS - pwede mo naman alisin to para masama yung mga images sa pagpupush,
# kaso malaki kasi yung files kaya mabigat din ipush, sinama ko na dito para di ako mahirapan
/img